.navbar-light .navbar-brand, .navbar-light {
    font-weight: bold !important;
}
.navbar-brand:focus, .navbar-light .navbar-brand:hover {
    text-decoration: underline;
}
.navbar-laravel {
    box-shadow:none !important;
    -webkit-box-shadow: none !important;
}

.fb_iframe_widget > span {
}
.fb-comments,
.fb-comments iframe[style],
.fb-comments > span {
    width: 100% !important;
}

._2pio._432s {
    display: none !important;
}
span._y9r {
    display: none !important;
}
.card {
    border:none !important;
}

iframe#twitter-widget-0 {
    width: auto !important;
}


.half-height-1 {
    height:40vh;
}
.half-height-2 {
    height:50.7vh;
}

.half-bottom {
    background:black;
}
.half-top {
    background:white;
}
.half-top h1 {
    font-family: 'Open Sans', sans-serif;
    color:black;
    text-align: center;
    font-weight: 800 !important;
    font-size:4em;
}

.links {
    width:95%;
    text-align: center;
    position: absolute;
    bottom:0.7em;

}
.links > a {
    color:white !important;

}
.button-scopri {
    width:100%;
    padding-top:20vh;
}
.button-scopri a {
    color:white !important;
}
.button-scopri button {
   display: block;
   margin:auto;
   padding: 1em;
   background: transparent;
   border: 2px solid white;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   font-family: 'Open Sans', sans-serif;
}

.navbar {
    padding:0 !important;

}
#come-segnalare-header {
    height:25vh !important;
}
#come-segnalare-header h1 {
    font-size:2.5em;
}
#come-segnalare-content {
    height:65.7vh;
}
#come-segnalare-content h2 {
    font-family: 'Raleway', sans-serif;
    color:white !important;
    text-align: center;
    font-size:2em;
    padding-top:1.5em;
}
#segnala-quale-social {
    padding-top:10vh !important;
}

#segnala-quale-social button {
    width:10em;
    margin-top:1.5em;

}

.style h2 {
    font-family: 'Open Sans', sans-serif;
    color:black !important;
    text-align: center;
    font-size:2em;
    padding-top:1.5em;
    font-weight: bold;
}

.style h3 {
    font-family: 'Raleway', sans-serif;
    color:black !important;
    text-align: center;
    font-size:2em;
    padding-top:1.5em;
}
.style img {
    display: block;
    margin:auto;
    padding-top:1.5em;
}

.style p {
    color:black;
    font-size:1.3em;
    text-align: center;
}

.tag-social {
    font-weight: bold;
}

.hide {
    display: none !important;
}


@media screen and (max-width:547px) {
    .links a {
        display: block;
        margin:auto;
        padding:0.5em;
    }
    #segnala-quale-social {
        padding-top:0 !important;
    }
}